/* change background color */
.background
{
    fill: #faf9f6;
}
/* change title style */
.title
{
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    font-size: 30px;
    fill: black;
}
/* change line color */
.line
{
    stroke: pink;
    stroke-width: 3px;
}
/* change data points */
.dot
{
    fill: #908e9c;
    stroke: #908e9c;
    stroke-width: 0.1px;
}

.area
{
    fill: rgba(0, 128, 255, 0.3) !important; /* Force the correct fill */
    stroke: none !important;
}

/* Ensure the area below the line is filled with a light blue */
.color-0 .area {
    fill: rgba(0, 128, 255, 0.3) !important; /* Force light blue fill */
    stroke: none;
}





